<div class="col-md-12 col-lg-4">
	<!-- START OF SIDEBAR MOST READ -->
	<div class="mb-30 p-30 card-view">
		<h4 class="p-title"><b>ĐỌC NHIỀU NHẤT</b></h4>
		{{#each lcNewPost}}
		<div class="sided-80x mb-20" style="border-bottom: 1px solid #ccc;">
			<div class="s-left">
				<a href="/{{KhongDauCha}}/{{KhongDauCon}}/{{IDBaiViet}}/{{TieuDe_KhongDau}}"><img
						src="/images/{{urllinkHinh}}" alt="" style="height: 80px"></a>
			</div><!-- s-left -->

			<div class="s-right">
				<h5><a href="/{{KhongDauCha}}/{{KhongDauCon}}/{{IDBaiViet}}/{{TieuDe_KhongDau}}" style="max-height: 60px;overflow:hidden">
						<b>{{TieuDe}}</b>
						{{#ifCond PhanHang '=='2}}
						<i class="far fa-star" style="color: yellow"></i>
						{{/ifCond}}
					</a></h5>
				<ul class="mtb-5 list-li-mr-20 color-lite-black">
					<li><i class="mr-5 font-12 ion-clock"></i>{{format NgayDang}}</li>
					<li><i class="mr-5 far fa-eye"></i>{{LuotXem}}</li>
					<li class="category"><a href="/{{KhongDauCha}}/{{KhongDauCon}}">{{TenChuyenMuc}}</a></li>
				</ul>
			</div><!-- s-left -->
		</div><!-- sided-80x -->
		{{/each}}
	</div><!-- card-view -->
	<!-- END OF SIDEBAR MOST READ -->
	<!-- END OF SIDEBAR ARTICLES BY AUTHOR -->

	<!-- START OF SIDEBAR BANNER-->
	<div class="plr-30 ptb-50 color-white pos-relative text-center bg-7">
		<div class="bg-layer-8">
			<h3><b>BẤT ĐỘNG SẢN</b></h3>
			<p class="mb-15 mt-5 color-white">Tìm ngay những thông tin mới nhất về bất động sản</p>
			<h6><a class="btn-fill-white btn-b-sm plr-10" href="/kinhdoanh/batdongsan"><b>XEM THÊM</b></a></h6>
		</div><!-- banner-area -->
	</div><!-- banner-area -->
	<!-- END OF SIDEBAR BANNER-->

	<!-- START OF SIDEBAR NEWSLETTER /images/News-Papers.jpg-->
	<div class="mt-30 p-30 plr-40 card-view text-center" style="padding: 0!important;height:200px">
		{{!-- <a style="width:100%;height:100%"> --}}
		<div class="premium-ad" style="background-image: url(/images/News-Papers.jpg);height:100%">
			<h4><label class="premiumPack"
					style="margin:10px 0 2px 0;font-weight:550;width:100%;border-radius: 0px;">PREMIUM</label></h4>
			{{!-- <a href="/Mua-tai-khoan"><img src="/images/News-Papers.jpg" alt=""></a> --}}
			<div class="form-sm max-w-400x mlr-auto" style="margin: 100px !important;display: block;">
				{{#if user.ID}}
				<a href="/Mua-tai-khoan" style="cursor:pointer">
					<button type="submit"
						style="font-weight:600;border-radius:10px; margin:auto;width:150px;background-color:rgb(1, 1, 85);color:White">ĐĂNG
						KÝ NGAY</button>
				</a>
				{{else}}
				<a href="/dangnhap" style="cursor:pointer">
					<button type="submit"
						style="font-weight:600;border-radius:10px; margin:auto;width:150px;background-color:rgb(1, 1, 85);color:White">ĐĂNG
						KÝ NGAY</button>
				</a>
				{{/if}}
			</div>
		</div>
		{{!-- </a> --}}
	</div>
</div><!-- card-view -->
<!-- END OF SIDEBAR NEWSLETTER -->

</div><!-- col-sm-4 -->