<header>
	<div class="middle-header mt-xs-0">
		<div class="container">
			<div class="row">

				<div class="col-sm-4">
					<a class="logo" href="/"><img src="/images/logo-black.png" alt="Logo"></a>
				</div><!-- col-sm-4 -->

				{{#if user }}		
				<div class="col-sm-8 d-flex justify-content-end">
					<div class="dplay-tbl-cell text-right">
						
						<a id="dropdown-toggle" class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 15px">
							{{!-- <img src="/images/avatar_thumb.jpg" width="30px"> --}}
							<img src="/images/default-avatar.png" style="width: 50px;height:50px;border-radius:50%">
							{{user.HoTen}}
						</a>
					
						<div class="dropdown-menu dropdown-menu-right">
							{{#if user.ID}}
							{{!-- <a class="dropdown-item" href="#"><i class="fa fa-user-tie"></i> Thông tin cá nhân</a> --}}
							<a class="dropdown-item" href="/thong-tin-ca-nhan"><i class="fa fa-cog mr-1" style="color:#ccc"></i> Cập nhật thông tin</a>
							{{else}}
							<a class="dropdown-item" href="javascript:;"><i class="fab fa-facebook-square mr-1" style="color:#ccc"></i> Login with Facebook</a>
							{{/if}}

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout"><i class="fa fa-sign-out-alt mr-1" style="color:#ccc"></i> Đăng xuất</a>
						</div>
					</div>
				</div><!-- col-sm-8 -->

				{{else}}
				<div class="col-sm-8 d-flex justify-content-end">
					<div class="dplay-tbl-cell text-right">
						<button type="button" >
							<a class="btn-fill-orange btn-b-sm plr-15 " href="/dangnhap">Đăng nhập</a>
						</button>
					</div>
					<div class="dplay-tbl-cell text-right">
						<button type="button" >
							<a class="btn-fill-white btn-b-sm plr-15 " href="/dangky">Đăng ký</a>
						</button>
					</div>
				</div><!-- col-sm-8 -->
				{{/if}}


			</div><!-- row -->
		</div><!-- container -->
	</div><!-- top-header -->

	<div class="bottom-menu">
		<div class="container">



			<ul class="main-menu" id="main-menu">
				<li class="drop-down"><a href="/">TRANG CHỦ</a>
				</li>
				
				{{#each lcCategorie}}
				<li style="text-transform:uppercase" class="drop-down"><a href="/{{mainCat.TenChuyenMuc_KhongDau}}">{{mainCat.TenChuyenMuc}}<i class="ion-chevron-down"></i></a>
					<ul class="drop-down-menu drop-down-inner">
						{{#each subCat}}
						<li><a href="/{{TenKhongDauCha}}/{{TenChuyenMuc_KhongDau}}">{{TenChuyenMuc}}</a></li>
						{{/each}}
					</ul>
				</li>
				{{/each}}
			</ul>
			<div class="clearfix"></div>
		</div><!-- container -->
	</div><!-- bottom-menu -->
</header>