{{>AdminNav}}
<div id="wrapper">
    {{>AdminSlidebar}}
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="card shadow">
                <h4 class="card-header">
                    Xem bài viết
                </h4>
                <div class="card-body" style="text-align: justify">
                    {{#each Post}}
                    <div class="p-30 card-view shadow p-3 bg-white rounded">
                        <div class="text-center">
                        <img src="/images/{{urllinkHinh}}" style="max-height:330px;object-fit:fill">
                        </div >
                        <h3 class="mt-2 mb-5 text-center"><b>{{TieuDe}}</b></h3>
                        <ul class="list-li-mr-10 color-lite-black">
                            <li class="text-left p-3 mb-2 bg-success text-white" style="width: 300px"><i class="mr-2 font-12 ion-android-person"></i><span>Người đăng: {{ButDanh}}</span></li>
                            <li class="text-left p-3 mb-2 bg-success text-white" style="width: 300px"><i class="mr-2  fas fa-align-justify"></i><span>Tên chuyên mục: {{TenChuyenMucCon}}</span></li>
                        </ul>
                        <div>
                            {{{NoiDung}}}
                        </div>
                    </div>
                    {{/each}}
                    <div class="sided-half text-left shadow p-3 mb-5 bg-white rounded">
						<ul class="s-left ptb-5 list-btn-semiwhite sided-sm-center d-flex">
							{{#each tag}}
							<li class="p-1 mb-2 bg-secondary text-white mr-2" style="width:100px;border-radius:5px"><i class="fas fa-tag"></i>{{TenTag}}</li>
							{{/each}}
						</ul>
					</div><!-- sided-half -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        {{>AdminFooter}}
    </div>
</div>
{{>AdminLogoutmodal}}