<link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
{{>AdminNav}}
<div id="wrapper">
  {{>AdminSlidebar}}
  <div id="content-wrapper">

    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Quản lý tài khoản</li>
      </ol>

      <div class="card mb-3 List-account">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Danh sách bài viết</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Họ tên</th>
                  <th>Bút danh</th>
                  <th>Email</th>
                  <th>Quyền</th>
                  <th>Action</th>
                  
                </tr>
              </thead>
              <tbody>
                {{#each user}}
                <tr>
                  <td>{{HoTen}}</td>
                  <td>{{ButDanh}}</td>
                  <td>{{Email}}</td>
                  <td>
                    {{TenPhanHe}}
                  </td>
                  <td class="action">
                    <button type="button" style="background-color: #35b335" data-toggle="modal" data-target="#{{ID}}">Chỉnh sửa quyền</button>
                    <div class="modal fade" id="{{ID}}" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quyền</h5>
                          </div>
                          <form action="/admin/quan-ly-tai-khoan/chinh-sua-quyen/{{ID}}" method="POST">
                          <div class="modal-body">
                            <select name="roleuser" id="roleuser" style="width:100%;padding:5px 10px;border-radius:5px">
                              <option value="Quản trị viên">Quản trị viên</option>
                              <option value="Biên tập viên">Biên tập viên</option>
                              <option value="Phóng viên">Phóng viên</option>
                              <option value="Độc giả">Độc giả</option>
                              <option value="Độc giả vãng lai">Độc giả vãng lai</option>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #35b335">Lưu</button>
                          </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    {{#ifE TinhTrang 'Khóa'}}
                    <form action="/admin/quan-ly-tai-khoan/khoa-tai-khoan/{{ID}}" method="POST" style="display: inline-block">
                    <button type="submit" >Khóa tài khoản</button>
                    </form>
                    {{else}}
                    <form action="/admin/quan-ly-tai-khoan/mo-tai-khoan/{{ID}}" method="POST" style="display: inline-block">
                    <button type="submit" style="background-color: #007bff">Mở khóa tài khoản</button>
                    </form>
                    {{/ifE}}
                  </td>
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>




    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    {{>AdminFooter}}

  </div>
</div>
{{>AdminLogoutmodal}}