<link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
{{>AdminNav}}
<div id="wrapper">
  {{>AdminSlidebar}}
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Bài viết đang chờ duyệt</li>
      </ol>
      {{#if mesg.length}}
      <div class="alert alert-success" role="alert">
        {{mesg}}
      </div>
      {{/if}}
      <!-- DataTables Example -->
      <div class="card mb-3 List-Draft">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Danh sách bài viết</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tiêu đề</th>
                  <th>Chuyên mục</th>
                  <th>Ngày viết</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#if isAdministrator}}
                {{#each post}}
                <tr>
                  <td>{{IDBaiViet}}</td>
                  <td>{{TieuDe}}</td>
                  <td>{{TenChuyenMuc}}</td>
                  <td>{{format NgayViet}}</td>
                  <td class="action">
                    <form action="/admin/duyet-bai-viet" method="POST">
                      <a href="/admin/xem-bai-viet/{{IDBaiViet}}" onclick="OpenPageCreateNewshtml(1)" title="">Xem bài viết</a>
                      <a href="./bai-viet-dang-cho/chinh-sua/{{IDBaiViet}}" title="">Chỉnh sửa</a>
                      <input type="text" name="IDpost" value="{{IDBaiViet}}" class="d-none">

                      <button type="submit" formaction="/admin/xuat-ban-bai-viet/{{IDBaiViet}}"
                        style="background-color:#0062cc ">Xuất bản</button>
                      <button type="button" class=" btn-primary" data-toggle="modal" data-target="#{{IDBaiViet}}">Từ
                        chối</button>
                      <div class="modal fade" id="{{IDBaiViet}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Lý do từ chối</h5>
                            </div>

                            <div class="modal-body">
                              <textarea name="reasonDecline" style="width: 100%"></textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                              <button type="submit" class="btn btn-primary"
                                formaction="/admin/tu-choi-bai-viet/{{IDBaiViet}}">Gửi</button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>
                {{/each}}
                {{/if}}

                {{#if isEditor}}
                {{#each post}}
                <tr>
                  <td>{{IDBaiViet}}</td>
                  <td>{{TieuDe}}</td>
                  <td>{{TenChuyenMuc}}</td>
                  <td>{{format NgayViet}}</td>
                  <td class="action text-center">
                    <form action="/admin/duyet-bai-viet" method="POST">
                      <a href="/admin/xem-bai-viet/{{IDBaiViet}}" onclick="OpenPageCreateNewshtml(1)" title="">Xem bài viết</a>
                      {{!-- <a href="./bai-viet-dang-cho/chinh-sua/{{IDBaiViet}}" title="">Chỉnh sửa</a> --}}
                      <input type="text" name="IDpost" value="{{IDBaiViet}}" class="d-none">

                      <button type="submit" style="background-color: #007bff;">Duyệt</button>
                      <button type="button" class=" btn-primary" data-toggle="modal" data-target="#exampleModal">Từ
                        chối</button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Lý do từ chối</h5>
                            </div>

                            <div class="modal-body">
                              <textarea name="reasonDecline" style="width: 100%"></textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                              <button type="submit" class="btn btn-primary"
                                formaction="/admin/tu-choi-bai-viet/{{IDBaiViet}}">Gửi</button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>
                {{/each}}
                {{/if}}
                {{#if isWriter}}
                {{#each post}}
                <tr class="text-center">
                  <td>{{IDBaiViet}}</td>
                  <td>{{TieuDe}}</td>
                  <td>{{TenChuyenMuc}}</td>
                  <td>{{format NgayViet}}</td>
                  <td class="action ">
                      <a href="./bai-viet-dang-cho/chinh-sua/{{IDBaiViet}}" title="">Chỉnh sửa</a>
                      <input type="text" name="IDpost" value="{{IDBaiViet}}" class="d-none">
                  </td>
                </tr>
                {{/each}}
                {{/if}}
              </tbody>

            </table>
          </div>
        </div>
      </div>



    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    {{>AdminFooter}}

  </div>
</div>
{{>AdminLogoutmodal}}