<link rel="stylesheet" href="/javascripts/datatable/dataTables.bootstrap4.css">
{{>AdminNav}}
<div id="wrapper">
  {{>AdminSlidebar}}
  <div id="content-wrapper">

    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Quản lý tài khoản</li>
      </ol>
      <div style="display:flex;justify-content: center;">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Tất cả
            </button>
          </h5>
        </div>
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Biên tập viên
            </button>
          </h5>
        </div>
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Phóng viên
            </button>
          </h5>
        </div>
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              Độc giả
            </button>
          </h5>
        </div>
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              Độc giả vãng lai
            </button>
          </h5>
        </div>
      </div>
      <div id="accordion">
        <div class="card">
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              {{#if mesg.length}}
              <div class="alert alert-success" role="alert">
                {{mesg}}
              </div>
              {{/if}}
              <div class="card mb-3 List-account">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Danh sách tài khoản</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Họ tên</th>
                          <th>Bút danh</th>
                          <th>Email</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each EditorRole}}
                        <tr>
                          <td>{{HoTen}}</td>
                          <td>{{ButDanh}}</td>
                          <td>{{Email}}</td>
                          <td class="action">
                            <button type="button" style="background-color: #35b335" data-toggle="modal"
                              data-target="#{{ID}}">Chỉnh sửa quyền</button>
                            <div class="modal fade" id="{{ID}}" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quyền</h5>
                                  </div>
                                  <form action="/admin/quan-ly-tai-khoan/chinh-sua-quyen/{{ID}}" method="POST">
                                    <div class="modal-body">
                                      <select name="roleuser" id="roleuser"
                                        style="width:100%;padding:5px 10px;border-radius:5px">
                                        <option value="Quản trị viên">Quản trị viên</option>
                                        <option value="Biên tập viên">Biên tập viên</option>
                                        <option value="Phóng viên">Phóng viên</option>
                                        <option value="Độc giả">Độc giả</option>
                                        <option value="Độc giả vãng lai">Độc giả vãng lai</option>
                                      </select>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                      <button type="submit" class="btn btn-primary"
                                        style="background-color: #35b335">Lưu</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            {{#ifE TinhTrang 'Khóa'}}
                            <form action="/admin/quan-ly-tai-khoan/khoa-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit">Khóa tài khoản</button>
                            </form>
                            {{else}}
                            <form action="/admin/quan-ly-tai-khoan/mo-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit" style="background-color: #007bff">Mở khóa tài khoản</button>
                            </form>
                            {{/ifE}}
                            <a href="/admin/quan-ly-tai-khoan/phan-chuyen-muc/{{ID}}">Phân chuyên mục</a>
                          </td>
                        </tr>
                        {{/each}}

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              {{#if mesg.length}}
              <div class="alert alert-success" role="alert">
                {{mesg}}
              </div>
              {{/if}}
              <div class="card mb-3 List-account">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Danh sách tài khoản</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Họ tên</th>
                          <th>Bút danh</th>
                          <th>Email</th>
                          <th>Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        {{#each Writter}}
                        <tr>
                          <td>{{HoTen}}</td>
                          <td>{{ButDanh}}</td>
                          <td>{{Email}}</td>
                          <td class="action">
                            <button type="button" style="background-color: #35b335" data-toggle="modal"
                              data-target="#{{ID}}">Chỉnh sửa quyền</button>
                            <div class="modal fade" id="{{ID}}" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quyền</h5>
                                  </div>
                                  <form action="/admin/quan-ly-tai-khoan/chinh-sua-quyen/{{ID}}" method="POST">
                                    <div class="modal-body">
                                      <select name="roleuser" id="roleuser"
                                        style="width:100%;padding:5px 10px;border-radius:5px">
                                        <option value="Quản trị viên">Quản trị viên</option>
                                        <option value="Biên tập viên">Biên tập viên</option>
                                        <option value="Phóng viên">Phóng viên</option>
                                        <option value="Độc giả">Độc giả</option>
                                        <option value="Độc giả vãng lai">Độc giả vãng lai</option>
                                      </select>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                      <button type="submit" class="btn btn-primary"
                                        style="background-color: #35b335">Lưu</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            {{#ifE TinhTrang 'Khóa'}}
                            <form action="/admin/quan-ly-tai-khoan/khoa-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit">Khóa tài khoản</button>
                            </form>
                            {{else}}
                            <form action="/admin/quan-ly-tai-khoan/mo-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit" style="background-color: #007bff">Mở khóa tài khoản</button>
                            </form>
                            {{/ifE}}
                          </td>
                        </tr>
                        {{/each}}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              {{#if mesg.length}}
              <div class="alert alert-success" role="alert">
                {{mesg}}
              </div>
              {{/if}}
              <div class="card mb-3 List-account">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Danh sách tài khoản</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered"  width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Họ tên</th>
                          <th>Bút danh</th>
                          <th>Email</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each premiumReader}}
                        <tr>
                          <td>{{HoTen}}</td>
                          <td>{{ButDanh}}</td>
                          <td>{{Email}}</td>
                          <td class="action">
                            <button type="button" style="background-color: #35b335" data-toggle="modal"
                              data-target="#{{ID}}">Chỉnh sửa quyền</button>
                            <div class="modal fade" id="{{ID}}" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quyền</h5>
                                  </div>
                                  <form action="/admin/quan-ly-tai-khoan/chinh-sua-quyen/{{ID}}" method="POST">
                                    <div class="modal-body">
                                      <select name="roleuser" id="roleuser"
                                        style="width:100%;padding:5px 10px;border-radius:5px">
                                        <option value="Quản trị viên">Quản trị viên</option>
                                        <option value="Biên tập viên">Biên tập viên</option>
                                        <option value="Phóng viên">Phóng viên</option>
                                        <option value="Độc giả">Độc giả</option>
                                        <option value="Độc giả vãng lai">Độc giả vãng lai</option>
                                      </select>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                      <button type="submit" class="btn btn-primary"
                                        style="background-color: #35b335">Lưu</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            {{#ifE TinhTrang 'Khóa'}}
                            <form action="/admin/quan-ly-tai-khoan/khoa-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit">Khóa tài khoản</button>
                            </form>
                            {{else}}
                            <form action="/admin/quan-ly-tai-khoan/mo-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit" style="background-color: #007bff">Mở khóa tài khoản</button>
                            </form>
                            {{/ifE}}
                            <button type="submit">Gia hạn tài khoản</button>
                          </td>
                        </tr>
                        {{/each}}

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              {{#if mesg.length}}
              <div class="alert alert-success" role="alert">
                {{mesg}}
              </div>
              {{/if}}
              <div class="card mb-3 List-account">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Danh sách tài khoản</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered"  width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Họ tên</th>
                          <th>Bút danh</th>
                          <th>Email</th>
                          <th>Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        {{#each normalReader}}
                        <tr>
                          <td>{{HoTen}}</td>
                          <td>{{ButDanh}}</td>
                          <td>{{Email}}</td>
                          <td class="action">
                            <button type="button" style="background-color: #35b335" data-toggle="modal"
                              data-target="#{{ID}}">Chỉnh sửa quyền</button>
                            <div class="modal fade" id="{{ID}}" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quyền</h5>
                                  </div>
                                  <form action="/admin/quan-ly-tai-khoan/chinh-sua-quyen/{{ID}}" method="POST">
                                    <div class="modal-body">
                                      <select name="roleuser" id="roleuser"
                                        style="width:100%;padding:5px 10px;border-radius:5px">
                                        <option value="Quản trị viên">Quản trị viên</option>
                                        <option value="Biên tập viên">Biên tập viên</option>
                                        <option value="Phóng viên">Phóng viên</option>
                                        <option value="Độc giả">Độc giả</option>
                                        <option value="Độc giả vãng lai">Độc giả vãng lai</option>
                                      </select>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                      <button type="submit" class="btn btn-primary"
                                        style="background-color: #35b335">Lưu</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            {{#ifE TinhTrang 'Khóa'}}
                            <form action="/admin/quan-ly-tai-khoan/khoa-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit">Khóa tài khoản</button>
                            </form>
                            {{else}}
                            <form action="/admin/quan-ly-tai-khoan/mo-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit" style="background-color: #007bff">Mở khóa tài khoản</button>
                            </form>
                            {{/ifE}}
                          </td>
                        </tr>
                        {{/each}}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{#if mesg.length}}
              <div class="alert alert-success" role="alert">
                {{mesg}}
              </div>
              {{/if}}
              <div class="card mb-3 List-account">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Danh sách tài khoản</div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Họ tên</th>
                          <th>Bút danh</th>
                          <th>Email</th>
                          <th>Action</th>
                          <th>Quyền</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each user }}
                        <tr>
                          <td>{{HoTen}}</td>
                          <td>{{ButDanh}}</td>
                          <td>{{Email}}</td>
                          <td>{{TenPhanHe}}</td>
                          <td class="action">
                            <button  type="button" style="background-color: #35b335" data-toggle="modal"
                              data-target="#u{{ID}}">Chỉnh sửa quyền</button>
                            <div class="modal fade" id="u{{ID}}" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quyền</h5>
                                  </div>
                                  <form action="/admin/quan-ly-tai-khoan/chinh-sua-quyen/{{ID}}" method="POST">
                                    <div class="modal-body">
                                      <select name="roleuser" id="roleuser"
                                        style="width:100%;padding:5px 10px;border-radius:5px">
                                        <option value="Quản trị viên">Quản trị viên</option>
                                        <option value="Biên tập viên">Biên tập viên</option>
                                        <option value="Phóng viên">Phóng viên</option>
                                        <option value="Độc giả">Độc giả</option>
                                        <option value="Độc giả vãng lai">Độc giả vãng lai</option>
                                      </select>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                      <button type="submit" class="btn btn-primary"
                                        style="background-color: #35b335">Lưu</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            {{#ifE TinhTrang 'Khóa'}}
                            <form action="/admin/quan-ly-tai-khoan/khoa-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit">Khóa tài khoản</button>
                            </form>
                            {{else}}
                            <form action="/admin/quan-ly-tai-khoan/mo-tai-khoan/{{ID}}" method="POST"
                              style="display: inline-block">
                              <button type="submit" style="background-color: #007bff">Mở khóa tài khoản</button>
                            </form>
                            {{/ifE}}
                          </td>
                        </tr>
                        {{/each}}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    {{>AdminFooter}}

  </div>
</div>
{{>AdminLogoutmodal}}
