{{#section 'css'}}
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
	$(function () {
		$('#editinforUser').validate({
			rules: {
				fullname: {
					required: true,
				},
        ButDanh:{
          required: true,
        },
				Birthdate: {
					required: true,
				},
        Email:{
          required: true,
          email: true
        },
			},
			messages: {
				fullname: {
					required: 'Bắt buộc.',
				},
        ButDanh:{
          required: 'Bắt buộc.',
        },
				Birthdate: {
					required: 'Bắt buộc.',
				},
        Email:{
          required: 'Bắt buộc.',
          email: 'Chưa đúng định dạng email.'
        },
			},
			errorElement: 'small',
			errorClass: 'help-block text-danger',
			highlight: function (e) {
				$(e).removeClass('is-valid').addClass('is-invalid');
			},
			unhighlight: function (e) {
				$(e).removeClass('is-invalid').addClass('is-valid');
			}
		});
	})
</script>
<script type="text/javascript">
            $(function () {
                $('#txtBirthdate').datetimepicker({
                  format: 'm/d/Y',
                  timepicker: false,
                  mask: true,
                });
            });
</script>
{{/section}}

{{>AdminNav}}
<div id="wrapper">
  {{>AdminSlidebar}}
  <div id="content-wrapper">

    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
          Thông tin tài khoản
        </li>
      </ol>

      <!-- Icon Cards-->
      <div class="row">
        <div class="container" style="
         display: flex;">
          <div class="col-6">
            {{#each user}}
            <div class="ava">
              <img src="/images/{{AnhDaiDien}}">
            </div>
            {{/each}}

            <div class="inforUser">
              {{#each user}}
              <div class="form-group">
                <div class="infor">
                  <label>Họ tên:</label>
                  <span>{{HoTen}}</span>

                </div>
              </div>
              <div class="form-group">
                <label>Bút danh:</label>
                <span>{{ButDanh}}</span>
              </div>
              <div class="form-group">
                <label>Ngày sinh:</label>
                <span>{{format NgaySinh}}</span>
              </div>
              <div class="form-group ">
                <label>Email</label>
                <span>{{Email}}</span>
              </div>

              {{/each}}
              <div class="form-group form-last">
                <label>Quyền</label>
                <span class="role">{{role}}</span>
              </div>

            </div>
          </div>
          <div class="col-6">
            <form class="editinforUser" id="editinforUser" method="POST" action="/admin/thong-tin-tai-khoan/chinh-sua">
              <div class="form-group">
                {{#each user}}
                <div class="infor">
                  <label>Họ tên:</label>
                  <input type="text" name="fullname" value="{{HoTen}}">

                </div>

              </div>
              {{#ifE PhanHe 'PH3'}}
              <div class="form-group">
                <label>Bút danh</label>
                <input type="text" name="ButDanh" value="{{ButDanh}}"><br>
              </div>
              {{/ifE}}
              <div class="form-group">
                <label>Ngày sinh:</label>
                <input type="text " name="Birthdate" id="txtBirthdate" value="{{format NgaySinh}}">

              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" name="Email" value="{{Email}}">

              </div>
              {{/each}}
              <div class="form-group form-last">
                <label>Ảnh đại diện</label>
                <label for="file" class="input-label"><i class="fa fa-upload mr-1 "></i>Thêm ảnh</label>
                <input type="file" id="file" multiple="true" /><br>
                <button type="button" class="close-image" id="close-image" aria-label="Close" hidden="true"
                  data-toggle="tooltip" title="Close All Image">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>

              <div class="submit">
                <button type="submit" class="btn">Lưu</button>
              </div>
            </form>
          </div>
        </div>
      </div>



    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    {{>AdminFooter}}

  </div>
</div>
{{>AdminLogoutmodal}}