<!DOCTYPE html>
<html>
  <head>
	<title>EDnews</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/icon-font/ionicons.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- Boostrap-->
  
	<link rel="stylesheet" href="/plugin-frameworks/bootstrap.css">

	
	<!-- Mycss -->
	<link rel="stylesheet" href="{{style}}">	
  <link rel="stylesheet" href="{{css}}">
<!-- Slick -->
	<link rel="stylesheet" href='/javascripts/js/slick/slick.css'>
	<link rel="stylesheet" type="text/css" href='/javascripts/js/slick/slick-theme.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js">
	{{{_sections.css}}}
</head>
  <body>

{{{body}}}

<div id="back-to-top">
			<i class="ion-android-arrow-up"></i>
</div>


    <!-- Jquery -->
	<script src="/plugin-frameworks/jquery-3.2.1.min.js"></script>
 <!-- slick -->
  <script src='/javascripts/js/slick/slick.min.js'></script>
 <!-- Boostrap -->
	<script src="/plugin-frameworks/tether.min.js"></script>
	<script src="/plugin-frameworks/bootstrap.js"></script>
 <!-- MyJs -->
	<script src="/javascripts/scripts.js"></script>
  <script src="/javascripts/index.js"></script>
	<script src="/javascripts/sb-admin.js"></script>
	
	<!-- Page level plugin JavaScript-->
  <script src="/javascripts/datatable/jquery.dataTables.min.js"></script>
  <script src="/javascripts/datatable/dataTables.bootstrap4.min.js"></script>
	<script src="/javascripts/datatable/datatables-demo.js"></script>
	 {{{_sections.js}}}
  </body>
</html>
